@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@400;700;900&display=swap");
body {
  font: 12px/1.55 "Source Sans Pro", sans-serif;
  color: #67625f;
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.primary-menu {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 50px;
  background-color: #f8f8f8;
  z-index: 100;
}
.primary-menu__partners__item--first {
  background: url(../assets/images/maria-lunarillos.png) #ff5959 bottom center no-repeat;
}
.primary-menu__partners__item--second {
  background: url(../assets/images/cucute.png) #6199af bottom center no-repeat;
}
.primary-menu__partners__item--third {
  background: url(../assets/images/mumuchu.png) #f6b436 bottom center no-repeat;
}

.login-signup__icon {
  width: 27px;
  height: 27px;
  background: url(../assets/images/sprite.svg) 0 0 no-repeat;
  background-image: url(../assets/images/sprite.svg);
  background-position-x: 0px;
  background-position-y: 0px;
  background-size: initial;
  background-repeat: no-repeat;
  background-attachment: initial;
  background-origin: initial;
  background-clip: initial;
  background-color: initial;
  margin: 10px;
}
.socials {
  list-style-type: none;
}
.socials__item {
  width: 25px;
  height: 20px;
  margin: 15px 7px 0;
  background: url(../assets/images/sprite.svg) transparent 0 0 no-repeat;
  display: block;
}
.socials__item--fb {
  background-position: -4px -540px;
}
.socials__item--tw {
  background-position: -40px -540px;
}
.socials__item--ins {
  background-position: -75px -540px;
}
.socials__item--pin {
  background-position: -110px -540px;
}
.socials__item--yt {
  background-position: -180px -540px;
}

.search-icon {
  background-color: #bbb8b6;
}

.cart-bar__icon {
  display: block;
  float: right;
  width: 50px;
  height: 50px;
  background: #ff5959;
  margin: 0;
  position: relative;
  background: #fff url(../assets/images/sprite.svg) -66px 10px no-repeat;
  background-image: url(../assets/images/sprite.svg);
  background-position-x: -66px;
  background-position-y: 10px;
  background-size: initial;
  background-attachment: initial;
  background-origin: initial;
  background-clip: initial;
  background-color: white;
}
.secondary-menu {
  margin-top: 50px;
}

.logo__img {
  width: 100%;
}
.logo__img--desktop {
  max-width: 250px;
}

.content-menu {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.button {
  text-align: center;
  font-size: 18px;
  background: #ff5959;
  padding: 15px 30px;
  margin-top: 50px;
  display: inline-block;
  color: #ffffff;
  text-transform: uppercase;
  letter-spacing: 1px;
  text-decoration: none;
  cursor: pointer;
}
.button--view-more:hover {
  text-decoration: underline;
  color: white;
}
.button--content-menu {
  width: 130px;
  padding: 0 8px 0 0;
  font-size: 15px;
  font-weight: 600;
  text-decoration: none;
  line-height: 30px;
  text-align: center;
  margin: 0;
}
.button--col1 {
  background-color: #9faa4d;
}
.button--col2 {
  background-color: #8e789d;
}

.search-bar__icon {
  background: #bbb8b6 url(../assets/images/sprite.svg) -304px 12px no-repeat;
  background-image: url(../assets/images/sprite.svg);
  background-position-x: -304px;
  background-position-y: 12px;
  background-size: initial;
  background-attachment: initial;
  background-origin: initial;
  background-clip: initial;
  background-color: #bbb8b6;
  cursor: pointer;
  float: right;
  width: 50px;
  height: 50px;
  text-indent: -99999px;
}

.content-menu__cards {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
}

.content-card {
  width: 80px;
  height: 100px;
  margin-left: 5px;
  background-color: #f2f2f2;
}
.content-card a {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100px;
  justify-content: flex-end;
  text-decoration: none;
}
.content-card__figure {
  width: 50%;
  padding-bottom: 13px;
}
.content-card__figure--brands {
  width: 70%;
}
.content-card__figure--blog {
  width: 80px;
  height: 100px;
  display: block;
  background-repeat: no-repeat;
  background-image: url(../assets/images/menu.svg);
  background-position: -320px 0;
  background-size: 560px;
}
.content-card__title {
  font-size: 12px;
  letter-spacing: 1px;
  color: #2e2925;
  text-align: center;
  font-weight: 600;
  text-transform: uppercase;
  margin: 0;
  padding-top: 8px;
  background-color: white;
  width: 100%;
}
.content-card--blog {
  margin-left: 35px;
  background-color: #ff5959;
}

.content-section {
  background-color: #f8f8f8;
}
.content-section .container {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  padding-top: 110px;
  margin-bottom: 60px;
}
.content-section__title {
  display: inline-block;
  padding: 20px 60px;
  text-transform: uppercase;
  margin-bottom: 65px;
  line-height: 22px;
  font-size: 22px;
  font-weight: 900;
  letter-spacing: 6px;
  color: #2e2925;
  border-top: 2px solid #2e2925;
  border-bottom: 2px solid #2e2925;
}

.content-grid {
  display: flex;
  justify-content: center;
}
.content-grid--flex-wrap {
  flex-wrap: wrap;
}
.content-grid--showcase {
  display: grid;
  gap: 15px;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  grid-template-areas: "top" "bottom" "aside";
}
@media (min-width: 768px) {
  .content-grid--showcase {
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto;
    grid-template-areas: "top top aside" "bottom bottom aside";
  }
}

.item {
  height: 30vh;
  overflow: hidden;
  position: relative;
}
@media (min-width: 768px) {
  .item {
    height: auto;
    width: 100%;
  }
}
.item a {
  text-decoration: none;
  color: #2e2925;
}
@media (min-width: 768px) {
  .item__img {
    width: 100%;
  }
}
.item__text {
  position: absolute;
  bottom: 0;
  left: 0;
  background: rgba(255, 255, 255, 0.8);
  padding: 20px 20px 0 20px;
  width: 250px;
  height: 80px;
}
@media (min-width: 768px) {
  .item__text {
    width: 250px;
    height: 150px;
  }
}
.item__text::after {
  content: "";
  display: inline-block;
  width: 0;
  height: 0;
  border-bottom: 80px solid rgba(255, 255, 255, 0.8);
  border-right: 60px solid transparent;
  position: absolute;
  right: -60px;
  top: 0;
}
@media (min-width: 768px) {
  .item__text::after {
    right: -100px;
    border-bottom: 150px solid rgba(255, 255, 255, 0.8);
    border-right: 100px solid transparent;
  }
}
.item__text a {
  color: #67625f;
}
.item__text a:hover {
  text-decoration: underline;
}
.item__title {
  font-size: 18px;
  line-height: 18px;
  text-transform: uppercase;
  font-weight: 700;
}
.item__description {
  display: none;
}
@media (min-width: 768px) {
  .item__description {
    display: block;
    font-size: 14px;
    line-height: 16px;
  }
}
.item--top {
  grid-area: top;
}
.item--top .item__text {
  left: 0;
}
@media (min-width: 768px) {
  .item--top .item__text {
    left: calc(100% - 350px);
  }
}
.item--bottom {
  grid-area: bottom;
}
.item--aside {
  grid-area: aside;
}
@media (min-width: 768px) {
  .item--aside .item__text {
    width: calc(100% - 100px);
  }
}
.item--aside img {
  width: 100%;
}

.brand {
  height: 75px;
  margin: 15px;
  filter: grayscale(100%);
}
.brand:hover {
  filter: none;
}

.delivery-info {
  background-color: #e8e6e5;
}

.delivery-grid {
  list-style: none;
}
.delivery-grid__item {
  text-transform: uppercase;
}
.delivery-grid__item a {
  text-decoration: none;
  color: #67625f;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 40px 0;
}
.delivery-grid__item a:hover {
  color: #ff5959;
}
.delivery-grid__item__title {
  font-size: 15px;
  font-weight: 600;
  line-height: 18px;
  margin: 0;
  padding: 0;
}
.delivery-grid__item__description {
  font-size: 12px;
  line-height: 18px;
  margin: 0;
  padding: 0;
}
.delivery-grid__item__figure {
  margin-bottom: 25px;
  height: 60px;
  display: block;
}
.delivery-grid__item__figure--truck {
  width: 85px;
  background: url(../assets/images/sprite.svg) 0 -38px no-repeat transparent;
}
.delivery-grid__item__figure--clock {
  width: 55px;
  background: url(../assets/images/sprite.svg) -90px -38px no-repeat transparent;
}
.delivery-grid__item__figure--package {
  width: 68px;
  background: url(../assets/images/sprite.svg) -150px -36px no-repeat transparent;
}
.delivery-grid__item__figure--card {
  width: 77px;
  background: url(../assets/images/sprite.svg) -223px -38px no-repeat transparent;
}
.delivery-grid__item:hover .delivery-grid__item__figure--truck {
  background-position: 0 -109px;
}
.delivery-grid__item:hover .delivery-grid__item__figure--clock {
  background-position: -90px -109px;
}
.delivery-grid__item:hover .delivery-grid__item__figure--package {
  background-position: -150px -107px;
}
.delivery-grid__item:hover .delivery-grid__item__figure--card {
  background-position: -223px -109px;
}

.footer__top {
  background-color: #f8f8f8;
}
.footer__bottom {
  background-color: #ff5959;
}
.footer__copyright {
  text-align: center;
  color: #fff;
  height: 50px;
  font-size: 14px;
  line-height: 50px;
}

.socials-follow {
  margin-top: 20px;
}
@media (min-width: 576px) {
  .socials-follow {
    margin-right: 40px;
  }
}
.socials-follow__list {
  display: flex;
  list-style-type: none;
  padding: 0;
}
@media (min-width: 576px) {
  .socials-follow__list {
    flex-direction: row;
    justify-content: flex-start;
  }
}
.socials-follow__title {
  font-size: 12px;
  text-transform: uppercase;
  display: flex;
  justify-content: center;
}
@media (min-width: 576px) {
  .socials-follow__title {
    justify-content: flex-start;
  }
}
.socials-follow__item {
  display: block;
  width: 34px;
  height: 32px;
  background: url(/assets/images/sprite.svg) transparent 0 0 no-repeat;
}
.socials-follow__item--fb {
  background-position-x: -176px;
  background-position-y: -494px;
}
.socials-follow__item--tw {
  background-position: -35px -494px;
}
.socials-follow__item--ins {
  background-position: -70px -494px;
}
.socials-follow__item--pin {
  background-position: -106px -494px;
}
.socials-follow__item--yt {
  background-position: -176px -494px;
}

.newsletter-signup {
  margin-left: 20px;
  margin-right: 20px;
  border-top: 1px solid #67625f;
  border-bottom: 1px solid #67625f;
  padding: 30px;
  font-size: 12px;
  text-transform: uppercase;
}
@media (min-width: 576px) {
  .newsletter-signup {
    margin-top: 30px;
    margin-bottom: 30px;
    border-top: none;
    border-bottom: none;
    border-left: 1px solid #67625f;
    border-right: 1px solid #67625f;
  }
}
.newsletter-signup__input {
  width: 100%;
  height: 30px;
}
.newsletter-signup__input-privacy-check {
  text-transform: lowercase;
}
.newsletter-signup__submit {
  color: white;
  background-color: #ff5959;
  border: none;
  width: 100%;
  height: 30px;
  text-transform: uppercase;
  font-weight: bold;
}

.about {
  list-style-type: none;
  margin-bottom: 0;
}

.info-link a {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #2e2925;
  text-decoration: none;
}
@media (min-width: 576px) {
  .info-link a {
    align-items: flex-start;
  }
}
.info-link__icon {
  padding: 5px;
  display: flex;
  justify-content: center;
  display: block;
  width: 30px;
  height: 31px;
  background: url(/assets/images/sprite.svg) transparent 0 0 no-repeat;
}
.info-link__icon--contacto {
  background-position-x: 0px;
  background-position-y: -207px;
}
.info-link__icon--sobre-nosotros {
  background-position-x: 0px;
  background-position-y: -246px;
}
.info-link__icon--condiciones-venta {
  background-position-x: 0px;
  background-position-y: -285px;
}
.info-link__text:hover {
  text-decoration: underline;
}

/*# sourceMappingURL=styles.css.map */
