@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@400;700;900&display=swap");
body {
  font: 12px/1.55 "Source Sans Pro", sans-serif;
  color: #67625f;
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.primary-menu {
  background-color: #f8f8f8;
}
.primary-menu__partners__item--first {
  background: url(../assets/images/maria-lunarillos.png) #ff5959 bottom center no-repeat;
}
.primary-menu__partners__item--second {
  background: url(../assets/images/cucute.png) #6199af bottom center no-repeat;
}
.primary-menu__partners__item--third {
  background: url(../assets/images/mumuchu.png) #f6b436 bottom center no-repeat;
}

.login-signup__icon {
  width: 27px;
  height: 27px;
  background: url(../assets/images/sprite.svg) 0 0 no-repeat;
  background-image: url(../assets/images/sprite.svg);
  background-position-x: 0px;
  background-position-y: 0px;
  background-size: initial;
  background-repeat: no-repeat;
  background-attachment: initial;
  background-origin: initial;
  background-clip: initial;
  background-color: initial;
  margin: 10px;
}
.socials {
  list-style-type: none;
}
.socials__item {
  width: 25px;
  height: 20px;
  margin: 15px 7px 0;
  background: url(../assets/images/sprite.svg) transparent 0 0 no-repeat;
  display: block;
}
.socials__item--fb {
  background-position: -4px -540px;
}
.socials__item--tw {
  background-position: -40px -540px;
}
.socials__item--ins {
  background-position: -75px -540px;
}
.socials__item--pin {
  background-position: -110px -540px;
}
.socials__item--yt {
  background-position: -180px -540px;
}

.search-icon {
  background-color: #bbb8b6;
}

.cart-bar__icon {
  display: block;
  float: right;
  width: 50px;
  height: 50px;
  background: #ff5959;
  margin: 0;
  position: relative;
  background: #fff url(../assets/images/sprite.svg) -66px 10px no-repeat;
  background-image: url(../assets/images/sprite.svg);
  background-position-x: -66px;
  background-position-y: 10px;
  background-size: initial;
  background-attachment: initial;
  background-origin: initial;
  background-clip: initial;
  background-color: white;
}
.content-menu {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.button {
  width: 130px;
  background: #ff5959;
  padding: 15px 30px;
  display: inline-block;
  color: #ffffff;
  text-transform: uppercase;
  letter-spacing: 1px;
  text-decoration: none;
  cursor: pointer;
}
.button--content-menu {
  width: 130px;
  padding: 0 8px 0 0;
  font-size: 15px;
  font-weight: 600;
  text-decoration: none;
  line-height: 30px;
  text-align: center;
}
.button--col1 {
  background-color: #9faa4d;
}
.button--col2 {
  background-color: #8e789d;
}

.search-bar__icon {
  background: #bbb8b6 url(../assets/images/sprite.svg) -304px 12px no-repeat;
  background-image: url(../assets/images/sprite.svg);
  background-position-x: -304px;
  background-position-y: 12px;
  background-size: initial;
  background-attachment: initial;
  background-origin: initial;
  background-clip: initial;
  background-color: #bbb8b6;
  cursor: pointer;
  float: right;
  width: 50px;
  height: 50px;
  text-indent: -99999px;
}

.content-menu__cards {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
}

.content-card {
  padding: 0 5px 0 0;
  width: 80px;
  height: 80px;
  background-color: #f2f2f2;
  padding: 0;
}
.content-card__figure {
  width: 50%;
}
.content-card__figure--blog {
  width: 80px;
  height: 80px;
  display: block;
  background-repeat: no-repeat;
  background-image: url(../assets/images/menu.svg);
  background-position: -320px 0;
  background-size: 560px;
}
.content-card__title {
  font-size: 13px;
  letter-spacing: 1px;
  color: #2e2925;
  text-align: center;
  font-weight: 600;
  text-transform: uppercase;
}

.content-section {
  background-color: #f8f8f8;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.content-section__title {
  display: inline-block;
  padding: 20px 60px;
  text-transform: uppercase;
  margin-bottom: 0;
  line-height: 22px;
  font-size: 22px;
  font-weight: 900;
  letter-spacing: 6px;
  color: #2e2925;
  border-top: 2px solid #2e2925;
  border-bottom: 2px solid #2e2925;
}

.content-grid {
  display: flex;
  justify-content: center;
}
.content-grid--flex-wrap {
  flex-wrap: wrap;
}
.content-grid--showcase {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: auto;
  grid-template-areas: "top top aside" "bottom bottom aside";
  gap: 15px;
}

.item__img {
  width: 100%;
}
.item--top {
  grid-area: top;
  background-color: red;
}
.item--bottom {
  grid-area: bottom;
  background-color: lime;
}
.item--aside {
  grid-area: aside;
  background-color: cyan;
}

.brand {
  height: 75px;
  margin: 15px;
  filter: grayscale(100%);
}
.brand:hover {
  filter: none;
}

.delivery-info {
  background-color: #e8e6e5;
}

.delivery-grid {
  list-style: none;
}
.delivery-grid__item {
  text-transform: uppercase;
}
.delivery-grid__item a {
  text-decoration: none;
  color: #67625f;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 40px 0;
}
.delivery-grid__item a:hover {
  color: #ff5959;
}
.delivery-grid__item__title {
  font-size: 15px;
  font-weight: 600;
  line-height: 18px;
  margin: 0;
  padding: 0;
}
.delivery-grid__item__description {
  font-size: 12px;
  line-height: 18px;
  margin: 0;
  padding: 0;
}
.delivery-grid__item__figure {
  margin-bottom: 25px;
  height: 60px;
  display: block;
}
.delivery-grid__item__figure--truck {
  width: 85px;
  background: url(../assets/images/sprite.svg) 0 -38px no-repeat transparent;
}
.delivery-grid__item__figure--clock {
  width: 55px;
  background: url(../assets/images/sprite.svg) -90px -38px no-repeat transparent;
}
.delivery-grid__item__figure--package {
  width: 68px;
  background: url(../assets/images/sprite.svg) -150px -36px no-repeat transparent;
}
.delivery-grid__item__figure--card {
  width: 77px;
  background: url(../assets/images/sprite.svg) -223px -38px no-repeat transparent;
}
.delivery-grid__item:hover .delivery-grid__item__figure--truck {
  background-position: 0 -109px;
}
.delivery-grid__item:hover .delivery-grid__item__figure--clock {
  background-position: -90px -109px;
}
.delivery-grid__item:hover .delivery-grid__item__figure--package {
  background-position: -150px -107px;
}
.delivery-grid__item:hover .delivery-grid__item__figure--card {
  background-position: -223px -109px;
}

.footer__top {
  background-color: #f8f8f8;
}
.footer__bottom {
  background-color: #ff5959;
}
.footer__copyright {
  text-align: center;
  color: #fff;
  height: 50px;
  font-size: 14px;
  line-height: 50px;
}

.socials-follow__list {
  display: flex;
  list-style-type: none;
  padding: 0;
}
@media (min-width: 576px) {
  .socials-follow__list {
    flex-direction: column;
    justify-content: flex-start;
  }
}
.socials-follow__title {
  display: flex;
  justify-content: center;
}
@media (min-width: 576px) {
  .socials-follow__title {
    justify-content: flex-start;
  }
}
.newsletter-signup {
  border-top: 1px solid red;
  padding: 40px;
}
@media (min-width: 576px) {
  .newsletter-signup {
    border-top: none;
    border-left: 1px solid red;
  }
}
.about {
  list-style-type: none;
}

/*# sourceMappingURL=styles.css.map */
