@use "variables";
@import "extends";
@import "mixins";

@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@400;700;900&display=swap");

body {
  font: 12px/1.55 "Source Sans Pro", sans-serif;
  color: variables.$default-text-color;
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.header {
}

.primary-menu {
  background-color: variables.$background-color-light;
  &__toogle {
  }
  &__partners {
    &__item {
    }
  }
}

.login-signup {
  &__icon {
  }
  &__text {
  }
}

.socials {
  &__item {
  }
}

.search-icon {
  background-color: variables.$background-color-dark;
}

.cart-bar {
  &__icon {
  }
  &__count {
  }
}

.secondary-menu {
}

.logo {
  &__icon {
  }
  &__img {
  }
}

.content-menu {
}

.button {
  width: 130px;
  background: variables.$accent-color;
  padding: 15px 30px;
  display: inline-block;
  color: #ffffff;
  text-transform: uppercase;
  letter-spacing: 1px;
  text-decoration: none;
  cursor: pointer;
  &--content-menu {
    width: 130px;
    padding: 0 8px 0 0;
    font-size: 15px;
    font-weight: 600;
    text-decoration: none;
    line-height: 30px;
    text-align: center;
  }
  &--col1 {
    background-color: variables.$color1;
  }
  &--col2 {
    background-color: variables.$color2;
  }
}

.search-bar {
  &__input {
  }
  &__icon {
  }
}

.content-card {
  &__figure {
  }
  &__title {
  }
  &__description {
  }
}

.main {
}

.content-section {
  background-color: variables.$background-color-light;
  display: flex;
  flex-direction: column;
  align-items: center;
  &__icon {
  }
  &__title {
    display: inline-block;
    padding: 20px 60px;
    text-transform: uppercase;
    margin-bottom: 0;
    line-height: 22px;
    font-size: 22px;
    font-weight: 900;
    letter-spacing: 6px;
    color: variables.$text-headings-color;
    border-top: 2px solid variables.$dark-border-color;
    border-bottom: 2px solid variables.$dark-border-color;
  }
}

.content-grid {
  display: flex;
  justify-content: center;
  &--flex-wrap {
    flex-wrap: wrap;
  }
}

.item {
  &__img {
  }
  &__text {
    &__title {
    }
    &__description {
    }
  }
}

.brand {
  height: 75px;
}

.delivery-info {
  background-color: variables.$background-color-medium;
}

.delivery-grid {
  list-style: none;

  &__item {
    text-transform: uppercase;
    a {
      text-decoration: none;
      color: variables.$default-text-color;
      display: flex;
      flex-direction: column;
      align-items: center;
      padding: 40px 0;
    }

    &__title {
      font-size: 15px;
      font-weight: 600;
      line-height: 18px;
      margin: 0;
      padding: 0;
    }

    &__description {
      font-size: 12px;
      line-height: 18px;
      margin: 0;
      padding: 0;
    }

    &__figure {
      margin-bottom: 25px;
      height: 60px;
      display: block;
      &--truck {
        width: 85px;
        background: url(../assets/images/sprite.svg) 0 -38px no-repeat transparent;
      }
      &--clock {
        width: 55px;
        background: url(../assets/images/sprite.svg) -90px -38px no-repeat
          transparent;
      }
      &--package {
        width: 68px;
        background: url(../assets/images/sprite.svg) -150px -36px no-repeat
          transparent;
      }
      &--card {
        width: 77px;
        background: url(../assets/images/sprite.svg) -223px -38px no-repeat
          transparent;
      }
    }
  }
}

.footer {
  &__top {
    background-color: variables.$background-color-light;
  }
  &__bottom {
    background-color: variables.$accent-color;
  }
  &__copyright {
    text-align: center;
    color: #fff;
    height: 50px;
    font-size: 14px;
    line-height: 50px;
  }
}

.socials-follow {
  &__title {
  }
  &__icon {
  }
}

.newsletter-signup {
  border-top: 1px solid red;
  padding: 40px;
  @media (min-width: 576px) {
    border-top: none;
    border-left: 1px solid red;
  }

  &__label {
  }
  &__input {
  }
  &__input-privacy-check {
  }
  &__submit {
  }
}

.about {
}

.info-link {
  &__icon {
  }
  &__text {
  }
}
