@use "variables";
@import "extends";
@import "mixins";

body {
  margin: 0;
}
.cards-container {
  @extend %inline-flex-container-wrap;
  gap: 14px;
  justify-content: stretch;
  background-color: variables.$dark-background-color;
  margin: 6rem;
  padding: 1rem;
  border-radius: variables.$border-radius-cards;
}

.card {
  @include rounded-card(variables.$border-radius-cards);
  font-family: Arial, Helvetica, sans-serif;

  min-width: 100px;

  &__title {
    font-size: 20px;
    color: white;
  }

  &__description {
    font-size: 16px;
    color: white;
  }

  &--sounds {
    background-color: variables.$color1;
  }

  &--insomnia {
    background-color: variables.$color2;
  }

  &--children {
    background-color: variables.$color3;
  }

  &--tips {
    background-color: variables.$color4;
  }
}
